# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
**/venv/
**/.venv/
ENV/
env/
ENV/local/
ENV/lib/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
